# based on: 
# The data from DatabaseT.siz


name: DataBaseT.siz

types:

C 1.525 apolar
C2 1.730 apolar
CA 1.945 apolar
CAlt 1.760 apolar
CB 1.945 apolar
CN 1.702 apolar

H 1.000 polar
HO 1.187 polar
HX 0.910 polar

N 1.483 polar
NE 1.489 polar
NE2g 1.527 polar
NH 1.513 polar
NT 1.621 polar
NX 1.466 polar
NZ 1.621 polar

O 1.326 polar
OH 1.350 polar
OX 1.471 polar

P 1.638 polar

SG 1.581 polar


# not yet classified
#MIS 1.648 apolar
#MIS 1.791 apolar
#MIS 2.035 apolar
#MIS 1.874 apolar
#MIS 2.510 apolar
#MIS 1.483 apolar
#MIS 1.561 apolar
#MIS 2.048 apolar

MIS 0.000 apolar

atoms:
# any residues
ANY H H
ANY H1 H
ANY H2 H
ANY H3 H
ANY HD1 H
ANY HD2 H
ANY HE H
ANY HE1 H
ANY HE2 H
ANY HE3 H
ANY HE11 H
ANY HE12 H
ANY HE21 H
ANY HE22 H
ANY HD11 H
ANY HD12 H
ANY HD21 H
ANY HD22 H
ANY HH11 H
ANY HH12 H
ANY HH21 H
ANY HH22 H
ANY HH H
ANY HH1 H
ANY HH2 H
ANY HG H
ANY HG1 H
ANY HG2 H
ANY HZ H
ANY HZ1 H
ANY HZ2 H
ANY HZ3 H


#terminus
ANY O1 O
ANY O2 O
ANY OT1 O
ANY OT2 O
ANY HO11 H
ANY HO12 H
ANY HO21 H
ANY HO22 H

# atoms from databaseT.siz
CHL CN1 CN
CHL CN2 CN
CHL CN3 CN
CHL NTM NZ
CHL CB CAlt
PJ0 CA CAlt
PJ0 OA OH
PJ0 P P
PJ0 OB OX
PJ0 HB H
PJ0 OG OX
PJ0 HG H
PJ0 OD OH
PJ1 CA CAlt
PJ1 OA OH
PJ1 P P
PJ1 OB OX
PJ1 HB H
PJ1 OG OX
PJ1 HG H
PJ1 OD OH
PJ2 CA CAlt
PJ2 OA OH
PJ2 P P
PJ2 OB OX
PJ2 HB H
PJ2 OG OX
PJ2 HG H
PJ2 OD OH
DMX CD CAlt
DMX CE CB
DMX OE OH
DMX C1A C
DMX O1A O
DMX C1B CAlt
DMX C1C CAlt
DMX C1D CAlt
DMX C1E CAlt
DMX C1F CAlt
DMX C1G CAlt
DMX C1H CAlt
DMX C1I CAlt
DMX C1J CAlt
DMX C1K CAlt
DMX C1L CAlt
DMX C1M CAlt
DMX C1N CN
DMX CZ CAlt
DMX OZ OH
DMX C2A C
DMX O2A O
DMX C2B CAlt
DMX C2C CAlt
DMX C2D CAlt
DMX C2E CAlt
DMX C2F CAlt
DMX C2G CAlt
DMX C2H CAlt
DMX C2I CAlt
DMX C2J CAlt
DMX C2K CAlt
DMX C2L CAlt
DMX C2M CAlt
DMX C2N CN
COX C CB
COX O OH
COX H H
ACE CA CN
ACE C C
ACE O O
NTR N NT
NTR H1 H
NTR H2 H
NTR H3 H
NTR CA CA
NTR C C
NTR O O
NT0 N NT
NT0 H1 H
NT0 H2 H
NT0 H3 H
NT0 CA CA
NT0 C C
NT0 O O
NT1 N NT
NT1 H1 H
NT1 H2 H
NT1 H3 H
NT1 CA CA
NT1 C C
NT1 O O
NT2 N NT
NT2 H1 H
NT2 H2 H
NT2 H3 H
NT2 CA CA
NT2 C C
NT2 O O
NT3 N NT
NT3 H1 H
NT3 H2 H
NT3 H3 H
NT3 CA CA
NT3 C C
NT3 O O
ALA N N
ALA H H
ALA CA CA
ALA CB CN
ALA C C
ALA O O
AR0 N N
AR0 H H
AR0 CA CA
AR0 CB CAlt
AR0 CG CAlt
AR0 CD CAlt
AR0 NE NE
AR0 HE H
AR0 CZ C
AR0 NH1 NH
AR0 HH11 H
AR0 HH12 H
AR0 NH2 NH
AR0 HH21 H
AR0 HH22 H
AR0 C C
AR0 O O
AR1 N N
AR1 H H
AR1 CA CA
AR1 CB CAlt
AR1 CG CAlt
AR1 CD CAlt
AR1 NE NE
AR1 HE H
AR1 CZ C
AR1 NH1 NH
AR1 HH11 H
AR1 HH12 H
AR1 NH2 NH
AR1 HH21 H
AR1 HH22 H
AR1 C C
AR1 O O
AR2 N N
AR2 H H
AR2 CA CA
AR2 CB CAlt
AR2 CG CAlt
AR2 CD CAlt
AR2 NE NE
AR2 HE H
AR2 CZ C
AR2 NH1 NH
AR2 HH11 H
AR2 HH12 H
AR2 NH2 NH
AR2 HH21 H
AR2 HH22 H
AR2 C C
AR2 O O
AR3 N N
AR3 H H
AR3 CA CA
AR3 CB CAlt
AR3 CG CAlt
AR3 CD CAlt
AR3 NE NE
AR3 HE H
AR3 CZ C
AR3 NH1 NH
AR3 HH11 H
AR3 HH12 H
AR3 NH2 NH
AR3 HH21 H
AR3 HH22 H
AR3 C C
AR3 O O
AR4 N N
AR4 H H
AR4 CA CA
AR4 CB CAlt
AR4 CG CAlt
AR4 CD CAlt
AR4 NE NE
AR4 HE H
AR4 CZ C
AR4 NH1 NH
AR4 HH11 H
AR4 HH12 H
AR4 NH2 NH
AR4 HH21 H
AR4 HH22 H
AR4 C C
AR4 O O
ARG N N
ARG H H
ARG CA CA
ARG CB CAlt
ARG CG CAlt
ARG CD CAlt
ARG NE NE
ARG HE H
ARG CZ C
ARG NH1 NH
ARG HH11 H
ARG HH12 H
ARG NH2 NH
ARG HH21 H
ARG HH22 H
ARG C C
ARG O O
AS0 N N
AS0 H H
AS0 CA CA
AS0 CB CAlt
AS0 CG C
AS0 OD1 OX
AS0 OD2 OX
AS0 HD11 H
AS0 HD21 H
AS0 HD12 H
AS0 HD22 H
AS0 C C
AS0 O O
AS1 N N
AS1 H H
AS1 CA CA
AS1 CB CAlt
AS1 CG C
AS1 OD1 OX
AS1 OD2 OX
AS1 HD11 H
AS1 HD21 H
AS1 HD12 H
AS1 HD22 H
AS1 C C
AS1 O O
AS2 N N
AS2 H H
AS2 CA CA
AS2 CB CAlt
AS2 CG C
AS2 OD1 OX
AS2 OD2 OX
AS2 HD11 H
AS2 HD21 H
AS2 HD12 H
AS2 HD22 H
AS2 C C
AS2 O O
AS3 N N
AS3 H H
AS3 CA CA
AS3 CB CAlt
AS3 CG C
AS3 OD1 OX
AS3 OD2 OX
AS3 HD11 H
AS3 HD21 H
AS3 HD12 H
AS3 HD22 H
AS3 C C
AS3 O O
AS4 N N
AS4 H H
AS4 CA CA
AS4 CB CAlt
AS4 CG C
AS4 OD1 OX
AS4 OD2 OX
AS4 HD11 H
AS4 HD21 H
AS4 HD12 H
AS4 HD22 H
AS4 C C
AS4 O O
ASP N N
ASP H H
ASP CA CA
ASP CB CAlt
ASP CG C
ASP OD1 OX
ASP OD2 OX
ASP C C
ASP O O
ASN N N
ASN H H
ASN CA CA
ASN CB CAlt
ASN CG C
ASN OD1 O
ASN ND2 NE2g
ASN HD21 H
ASN HD22 H
ASN C C
ASN O O
CYS N N
CYS H H
CYS CA CA
CYS CB CAlt
CYS SG SG
CYS C C
CYS O O
CY0 N N
CY0 H H
CY0 CA CA
CY0 CB CAlt
CY0 SG SG
CY0 HG1 H
CY0 HG2 H
CY0 HG3 H
CY0 C C
CY0 O O
CY1 N N
CY1 H H
CY1 CA CA
CY1 CB CAlt
CY1 SG SG
CY1 HG1 H
CY1 HG2 H
CY1 HG3 H
CY1 C C
CY1 O O
CY2 N N
CY2 H H
CY2 CA CA
CY2 CB CAlt
CY2 SG SG
CY2 HG1 H
CY2 HG2 H
CY2 HG3 H
CY2 C C
CY2 O O
CY3 N N
CY3 H H
CY3 CA CA
CY3 CB CAlt
CY3 SG SG
CY3 HG1 H
CY3 HG2 H
CY3 HG3 H
CY3 C C
CY3 O O
GL0 N N
GL0 H H
GL0 CA CA
GL0 CB CAlt
GL0 CG CAlt
GL0 CD C
GL0 OE1 OX
GL0 OE2 OX
GL0 HE11 H
GL0 HE21 H
GL0 HE12 H
GL0 HE22 H
GL0 C C
GL0 O O
GL1 N N
GL1 H H
GL1 CA CA
GL1 CB CAlt
GL1 CG CAlt
GL1 CD C
GL1 OE1 OX
GL1 OE2 OX
GL1 HE11 H
GL1 HE21 H
GL1 HE12 H
GL1 HE22 H
GL1 C C
GL1 O O
GL2 N N
GL2 H H
GL2 CA CA
GL2 CB CAlt
GL2 CG CAlt
GL2 CD C
GL2 OE1 OX
GL2 OE2 OX
GL2 HE11 H
GL2 HE21 H
GL2 HE12 H
GL2 HE22 H
GL2 C C
GL2 O O
GL3 N N
GL3 H H
GL3 CA CA
GL3 CB CAlt
GL3 CG CAlt
GL3 CD C
GL3 OE1 OX
GL3 OE2 OX
GL3 HE11 H
GL3 HE21 H
GL3 HE12 H
GL3 HE22 H
GL3 C C
GL3 O O
GL4 N N
GL4 H H
GL4 CA CA
GL4 CB CAlt
GL4 CG CAlt
GL4 CD C
GL4 OE1 OX
GL4 OE2 OX
GL4 HE11 H
GL4 HE21 H
GL4 HE12 H
GL4 HE22 H
GL4 C C
GL4 O O
GLU N N
GLU H H
GLU CA CA
GLU CB CAlt
GLU CG CAlt
GLU CD C
GLU OE1 OX
GLU OE2 OX
GLU C C
GLU O O
GLN N N
GLN H H
GLN CA CA
GLN CB CAlt
GLN CG CAlt
GLN CD C
GLN OE1 O
GLN NE2 NE2g
GLN HE21 H
GLN HE22 H
GLN C C
GLN O O
GLY N N
GLY H H
GLY CA CAlt
GLY C C
GLY O O
HI0 N N
HI0 H H
HI0 CA CA
HI0 CB CAlt
HI0 CG C
HI0 ND1 NX
HI0 HD1 H
HI0 CD2 C
HI0 HD2 HX
HI0 CE1 C
HI0 HE1 HX
HI0 NE2 NX
HI0 HE2 H
HI0 C C
HI0 O O
HI1 N N
HI1 H H
HI1 CA CA
HI1 CB CAlt
HI1 CG C
HI1 ND1 NX
HI1 HD1 H
HI1 CD2 C
HI1 HD2 HX
HI1 CE1 C
HI1 HE1 HX
HI1 NE2 NX
HI1 HE2 H
HI1 C C
HI1 O O
HI2 N N
HI2 H H
HI2 CA CA
HI2 CB CAlt
HI2 CG C
HI2 ND1 NX
HI2 HD1 H
HI2 CD2 C
HI2 HD2 HX
HI2 CE1 C
HI2 HE1 HX
HI2 NE2 NX
HI2 HE2 H
HI2 C C
HI2 O O
HIS N N
HIS H H
HIS CA CA
HIS CB CAlt
HIS CG C
HIS ND1 NX
HIS HD1 H
HIS CD2 C
HIS HD2 HX
HIS CE1 C
HIS HE1 HX
HIS NE2 NX
HIS HE2 H
HIS C C
HIS O O
ILE N N
ILE H H
ILE CA CA
ILE CB CB
ILE CG1 CAlt
ILE CG2 CN
ILE CD CN
ILE C C
ILE O O
LEU N N
LEU H H
LEU CA CA
LEU CB CAlt
LEU CG CB
LEU CD1 CN
LEU CD2 CN
LEU C C
LEU O O
LYS N N
LYS H H
LYS CA CA
LYS CB CAlt
LYS CG CAlt
LYS CD CAlt
LYS CE CAlt
LYS NZ NZ
LYS HZ1 H
LYS HZ2 H
LYS HZ3 H
LYS C C
LYS O O
LY0 N N
LY0 H H
LY0 CA CA
LY0 CB CAlt
LY0 CG CAlt
LY0 CD CAlt
LY0 CE CAlt
LY0 NZ NZ
LY0 HZ1 H
LY0 HZ2 H
LY0 HZ3 H
LY0 C C
LY0 O O
LY1 N N
LY1 H H
LY1 CA CA
LY1 CB CAlt
LY1 CG CAlt
LY1 CD CAlt
LY1 CE CAlt
LY1 NZ NZ
LY1 HZ1 H
LY1 HZ2 H
LY1 HZ3 H
LY1 C C
LY1 O O
LY2 N N
LY2 H H
LY2 CA CA
LY2 CB CAlt
LY2 CG CAlt
LY2 CD CAlt
LY2 CE CAlt
LY2 NZ NZ
LY2 HZ1 H
LY2 HZ2 H
LY2 HZ3 H
LY2 C C
LY2 O O
LY3 N N
LY3 H H
LY3 CA CA
LY3 CB CAlt
LY3 CG CAlt
LY3 CD CAlt
LY3 CE CAlt
LY3 NZ NZ
LY3 HZ1 H
LY3 HZ2 H
LY3 HZ3 H
LY3 C C
LY3 O O
MET N N
MET H H
MET CA CA
MET CB CAlt
MET CG CAlt
MET SD SG
MET CE CN
MET C C
MET O O
PHE N N
PHE H H
PHE CA CA
PHE CB CAlt
PHE CG C
PHE CD1 C
PHE HD1 HX
PHE CD2 C
PHE HD2 HX
PHE CE1 C
PHE HE1 HX
PHE CE2 C
PHE HE2 HX
PHE CZ C
PHE HZ HX
PHE C C
PHE O O
PRO N N
PRO CA CA
PRO CB C2
PRO CG C2
PRO CD C2
PRO C C
PRO O O
SER N N
SER H H
SER CA CA
SER CB CAlt
SER OG OH
SER HG H
SER C C
SER O O
THR N N
THR H H
THR CA CA
THR CB CB
THR OG1 OH
THR HG1 H
THR CG2 CN
THR C C
THR O O
TRP N N
TRP H H
TRP CA CA
TRP CB CAlt
TRP CG C
TRP CD1 C
TRP HD1 HX
TRP CD2 C
TRP NE1 NX
TRP HE1 H
TRP CE2 C
TRP CE3 C
TRP HE3 HX
TRP CZ2 C
TRP HZ2 HX
TRP CZ3 C
TRP HZ3 HX
TRP CH2 C
TRP HH2 HX
TRP C C
TRP O O
TY0 N N
TY0 H H
TY0 CA CA
TY0 CB CAlt
TY0 CG C
TY0 CD1 C
TY0 HD1 HX
TY0 CD2 C
TY0 HD2 HX
TY0 CE1 C
TY0 HE1 HX
TY0 CE2 C
TY0 HE2 HX
TY0 CZ C
TY0 OH OH
TY0 HH1 H
TY0 HH2 H
TY0 C C
TY0 O O
TY1 N N
TY1 H H
TY1 CA CA
TY1 CB CAlt
TY1 CG C
TY1 CD1 C
TY1 HD1 HX
TY1 CD2 C
TY1 HD2 HX
TY1 CE1 C
TY1 HE1 HX
TY1 CE2 C
TY1 HE2 HX
TY1 CZ C
TY1 OH OH
TY1 HH1 H
TY1 HH2 H
TY1 C C
TY1 O O
TY2 N N
TY2 H H
TY2 CA CA
TY2 CB CAlt
TY2 CG C
TY2 CD1 C
TY2 HD1 HX
TY2 CD2 C
TY2 HD2 HX
TY2 CE1 C
TY2 HE1 HX
TY2 CE2 C
TY2 HE2 HX
TY2 CZ C
TY2 OH OH
TY2 HH1 H
TY2 HH2 H
TY2 C C
TY2 O O
TYR N N
TYR H H
TYR CA CA
TYR CB CAlt
TYR CG C
TYR CD1 C
TYR HD1 HX
TYR CD2 C
TYR HD2 HX
TYR CE1 C
TYR HE1 HX
TYR CE2 C
TYR HE2 HX
TYR CZ C
TYR OH OH
TYR HH H
TYR C C
TYR O O
VAL N N
VAL H H
VAL CA CA
VAL CB CB
VAL CG1 CN
VAL CG2 CN
VAL C C
VAL O O
CTR CT C
CTR O1 OX
CTR O2 OX
CTR HO11 H
CTR HO21 H
CTR HO12 H
CTR HO22 H
CT0 CT C
CT0 O1 OX
CT0 O2 OX
CT0 HO11 H
CT0 HO21 H
CT0 HO12 H
CT0 HO22 H
CT1 CT C
CT1 O1 OX
CT1 O2 OX
CT1 HO11 H
CT1 HO21 H
CT1 HO12 H
CT1 HO22 H
CT2 CT C
CT2 O1 OX
CT2 O2 OX
CT2 HO11 H
CT2 HO21 H
CT2 HO12 H
CT2 HO22 H
CT3 CT C
CT3 O1 OX
CT3 O2 OX
CT3 HO11 H
CT3 HO21 H
CT3 HO12 H
CT3 HO22 H
CT4 CT C
CT4 O1 OX
CT4 O2 OX
CT4 HO11 H
CT4 HO21 H
CT4 HO12 H
CT4 HO22 H
NH2 N NE2g
NH2 H1 H
NH2 H2 H
POX CD CAlt
POX CE CB
POX OE OH
POX C1A C
POX O1A O
POX C1B CAlt
POX C1C CAlt
POX C1D CAlt
POX C1E CAlt
POX C1F CAlt
POX C1G CAlt
POX C1H CAlt
POX C1I MIS
POX C1J MIS
POX C1K CAlt
POX C1L CAlt
POX C1M CAlt
POX C1N CAlt
POX C1O CAlt
POX C1P CAlt
POX C1Q CAlt
POX C1R CN
POX CZ CAlt
POX OZ OH
POX C2A C
POX O2A O
POX C2B CAlt
POX C2C CAlt
POX C2D CAlt
POX C2E CAlt
POX C2F CAlt
POX C2G CAlt
POX C2H CAlt
POX C2I CAlt
POX C2J CAlt
POX C2K CAlt
POX C2L CAlt
POX C2M CAlt
POX C2N CAlt
POX C2O CAlt
POX C2P CN
MT0 N N
MT0 H H
MT0 CA CA
MT0 CB CAlt
MT0 CG C
MT0 CD1 C
MT0 HD1 HX
MT0 CD2 C
MT0 HD2 HX
MT0 CE1 C
MT0 HE1 HX
MT0 CE2 C
MT0 HE2 HX
MT0 CZ C
MT0 OH OH
MT0 HH1 H
MT0 HH2 H
MT0 CX CN
MT0 C C
MT0 O O
MT1 N N
MT1 H H
MT1 CA CA
MT1 CB CAlt
MT1 CG C
MT1 CD1 C
MT1 HD1 HX
MT1 CD2 C
MT1 HD2 HX
MT1 CE1 C
MT1 HE1 HX
MT1 CE2 C
MT1 HE2 HX
MT1 CZ C
MT1 OH OH
MT1 HH1 H
MT1 HH2 H
MT1 CX CN
MT1 C C
MT1 O O
MT2 N N
MT2 H H
MT2 CA CA
MT2 CB CAlt
MT2 CG C
MT2 CD1 C
MT2 HD1 HX
MT2 CD2 C
MT2 HD2 HX
MT2 CE1 C
MT2 HE1 HX
MT2 CE2 C
MT2 HE2 HX
MT2 CZ C
MT2 OH OH
MT2 HH1 H
MT2 HH2 H
MT2 CX CN
MT2 C C
MT2 O O
MA4 N N
MA4 H H
MA4 CA CA
MA4 CB CAlt
MA4 CG CAlt
MA4 CD CAlt
MA4 NE NE
MA4 HE H
MA4 CZ C
MA4 NH1 NH
MA4 HH11 H
MA4 HH12 H
MA4 NH2 NH
MA4 HH21 H
MA4 HH22 H
MA4 CX CN
MA4 C C
MA4 O O
DO0 C01 CN
DO0 O02 OH
DO0 C03 C
DO0 C04 C
DO0 C05 C
DO0 H06 HX
DO0 C07 C
DO0 O08 OH
DO0 C09 CN
DO0 C10 C
DO0 H11 HX
DO0 C12 C
DO0 C13 CAlt
DO0 C14 CB
DO0 C15 C
DO0 O16 O
DO0 C17 CAlt
DO0 C18 CB
DO0 C19 CAlt
DO0 C20 CAlt
DO0 C21 CAlt
DO0 N22 NE2g
DO0 H23 H
DO0 C24 CAlt
DO0 C25 C
DO0 C26 C
DO0 H27 HX
DO0 C28 C
DO0 H29 HX
DO0 C30 C
DO0 H31 HX
DO0 C32 C
DO0 H33 HX
DO0 C34 C
DO0 H35 HX
DO0 C36 CAlt
DO1 C01 CN
DO1 O02 OH
DO1 C03 C
DO1 C04 C
DO1 C05 C
DO1 H06 HX
DO1 C07 C
DO1 O08 OH
DO1 C09 CN
DO1 C10 C
DO1 H11 HX
DO1 C12 C
DO1 C13 CAlt
DO1 C14 CB
DO1 C15 C
DO1 O16 O
DO1 C17 CAlt
DO1 C18 CB
DO1 C19 CAlt
DO1 C20 CAlt
DO1 C21 CAlt
DO1 N22 NE2g
DO1 H23 H
DO1 C24 CAlt
DO1 C25 C
DO1 C26 C
DO1 H27 HX
DO1 C28 C
DO1 H29 HX
DO1 C30 C
DO1 H31 HX
DO1 C32 C
DO1 H33 HX
DO1 C34 C
DO1 H35 HX
DO1 C36 CAlt
SE0 N N
SE0 H H
SE0 CA CA
SE0 CB CAlt
SE0 OG OH
SE0 HG1 H
SE0 HG2 H
SE0 HG3 H
SE0 C C
SE0 O O
SE1 N N
SE1 H H
SE1 CA CA
SE1 CB CAlt
SE1 OG OH
SE1 HG1 H
SE1 HG2 H
SE1 HG3 H
SE1 C C
SE1 O O
SE2 N N
SE2 H H
SE2 CA CA
SE2 CB CAlt
SE2 OG OH
SE2 HG1 H
SE2 HG2 H
SE2 HG3 H
SE2 C C
SE2 O O
SE3 N N
SE3 H H
SE3 CA CA
SE3 CB CAlt
SE3 OG OH
SE3 HG1 H
SE3 HG2 H
SE3 HG3 H
SE3 C C
SE3 O O
TH0 N N
TH0 H H
TH0 CA CA
TH0 CB CB
TH0 OG1 OH
TH0 HG1 H
TH0 HG2 H
TH0 HG3 H
TH0 CG2 CN
TH0 C C
TH0 O O
TH1 N N
TH1 H H
TH1 CA CA
TH1 CB CB
TH1 OG1 OH
TH1 HG1 H
TH1 HG2 H
TH1 HG3 H
TH1 CG2 CN
TH1 C C
TH1 O O
TH2 N N
TH2 H H
TH2 CA CA
TH2 CB CB
TH2 OG1 OH
TH2 HG1 H
TH2 HG2 H
TH2 HG3 H
TH2 CG2 CN
TH2 C C
TH2 O O
TH3 N N
TH3 H H
TH3 CA CA
TH3 CB CB
TH3 OG1 OH
TH3 HG1 H
TH3 HG2 H
TH3 HG3 H
TH3 CG2 CN
TH3 C C
TH3 O O
CHO H3 HO
CHO C3 MIS
CHO C2 MIS
CHO C1 MIS
CHO C10 MIS
CHO C19 MIS
CHO C9 MIS
CHO C11 MIS
CHO C12 MIS
CHO C13 MIS
CHO C18 MIS
CHO C17 MIS
CHO C20 MIS
CHO C22 MIS
CHO C23 MIS
CHO C24 MIS
CHO C25 MIS
CHO C27 MIS
CHO C26 MIS
CHO C21 MIS
CHO C16 MIS
CHO C15 MIS
CHO C14 MIS
CHO C8 MIS
CHO C7 MIS
CHO C6 MIS
CHO H6 HO
CHO C5 MIS
CHO C4 MIS
CHO O3 MIS
CHO H3' H
ADE P P
ADE O1P OX
ADE O2P OX
ADE O5' OH
ADE C5' CAlt
ADE C4' CB
ADE O4' OH
ADE C1' CB
ADE N9 NX
ADE C8 C
ADE N7 NX
ADE C5 C
ADE C6 C
ADE N6 NE2g
ADE N1 NX
ADE C2 C
ADE N3 NX
ADE C4 C
ADE H61 H
ADE H62 H
ADE C2' C2
ADE C3' CB
ADE O3' OH
THY P P
THY O1P OX
THY O2P OX
THY O5' OH
THY C5' CAlt
THY C4' CB
THY O4' OH
THY C1' CB
THY N1 NX
THY C6 C
THY H6 HX
THY C2 C
THY O2 O
THY N3 NX
THY H3 H
THY C4 C
THY O4 O
THY C5 C
THY C5M CN
THY C2' C2
THY C3' CB
THY O3' OH
CYT P P
CYT O1P OX
CYT O2P OX
CYT O5' OH
CYT C5' CAlt
CYT C4' CB
CYT O4' OH
CYT C1' CB
CYT N1 NX
CYT C6 C
CYT H6 HX
CYT C2 C
CYT O2 O
CYT N3 NX
CYT C4 C
CYT N4 NE2g
CYT H41 H
CYT H42 H
CYT C5 C
CYT H5 HX
CYT C2' C2
CYT C3' CB
CYT O3' OH
GUA P P
GUA O1P OX
GUA O2P OX
GUA O5' OH
GUA C5' CAlt
GUA C4' CB
GUA O4' OH
GUA C1' CB
GUA N9 NX
GUA C4 C
GUA N3 NX
GUA C2 C
GUA N2 NE2g
GUA H21 H
GUA H22 H
GUA N1 NX
GUA H1 H
GUA C6 C
GUA O6 O
GUA C5 C
GUA N7 NX
GUA C8 C
GUA H8 HX
GUA C2' C2
GUA C3' CB
GUA O3' OH
NA+ NA+ MIS
CL- CL- MIS




